/* Video Modal
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/video-modal/video-modal.variables.scss */
/* Remove content underline */
.modal-link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Video modal style */
.video-modal {
  .modal-backdrop.in {
    opacity: 0.8;
  }

  .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
    padding: $eos-video-modal-body-padding;

    .modal-header {
      display: flex;
      flex-direction: row-reverse;
      padding: $eos-video-modal-header-padding;
    }

    // Custom close button
    .close {
      align-items: center;
      background: transparent;
      border-radius: 50%;
      display: flex;
      float: none;
      justify-content: center;
      margin: 0;
      opacity: 1;
      text-shadow: none;
    }

    .close i {
      margin-right: 0;
    }

    .modal-header,
    .modal-footer {
      border: 0;
    }

    video {
      width: 100%;
    }
  }
}
