li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout/Main-menu')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/6b8b30ef-b122-47f3-5c03-98b0bf5542bd-1dba/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout/Main-menu', target='_blank')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
