extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Sizing
          p.subheadline
            | The size of buttons plays a key role in helping users to identify buttons according to their importance.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Buttons assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug

    hr
    article
      section.margin-top-xxl
        h3
          | Full width buttons
        p
          | Full width buttons can span the full width of a parent container.
        p
          | Add a #[code btn-block] class to create a full width button.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#full-width-buttons-examples', aria-controls='full-width-buttons-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #full-width-buttons-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-block
                  | Button
                button.btn.btn-primary.btn-block
                  | Button
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary btn-block'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-block'&gt;Button&lt;/button&gt;
      section.margin-top-xxl
        h3.title-strong
          | Extra Small
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#xs-button-examples', aria-controls='xs-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #xs-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-xs
                  | Button
                button.btn.btn-primary.btn-xs
                  | Button
                button.btn.btn-secondary.btn-xs
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-xs
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-secondary.btn-xs.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-18
                    | add
                button.btn.btn-primary.btn-xs.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-18
                    | create
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary btn-xs'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-xs'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs' &gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-xs' data-toggle='tooltip' title='Add' &gt;
                    |   &lt;i class='eos-icons md-18'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-xs' data-toggle='tooltip' title='Edit' &gt;
                    |   &lt;i class='eos-icons md-18'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
      section.margin-top-xxl
        h3.title-strong
          | Small
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#small-button-examples', aria-controls='small-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #small-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-sm
                  | Button
                button.btn.btn-primary.btn-sm
                  | Button
                button.btn.btn-secondary.btn-sm
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-sm
                  i.eos-icons.md-18
                    | autorenew
                  |  Button
                button.btn.btn-secondary.btn-sm.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-18
                    | add
                button.btn.btn-primary.btn-sm.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-18
                    | create
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary btn-sm'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-sm' data-toggle='tooltip' title='Add'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-sm' data-toggle='tooltip' title='Edit'&gt;
                    |   &lt;i class='eos-icons md-18'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
      section.margin-top-xxl
        h3.title-strong
          | Large
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#large-button-examples', aria-controls='large-button-examples', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #large-button-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                button.btn.btn-secondary.btn-lg
                  | Button
                button.btn.btn-primary.btn-lg
                  | Button
                button.btn.btn-secondary.btn-icon.btn-lg
                  i.eos-icons.md-24
                    | autorenew
                  |  Button
                button.btn.btn-primary.btn-icon.btn-lg
                  i.eos-icons.md-24
                    | autorenew
                  |  Button
                button.btn.btn-secondary.btn-lg.js-tooltip(data-toggle='tooltip', title='Add')
                  i.eos-icons.md-24
                    | add
                button.btn.btn-primary.btn-lg.js-tooltip(data-toggle='tooltip', title='Edit')
                  i.eos-icons.md-24
                    | create
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;button class='btn btn-secondary btn-lg'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg'&gt;Button&lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;autorenew&lt;/i&gt; Button
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-secondary btn-lg' data-toggle='tooltip' title='Add'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;add&lt;/i&gt;
                    | &lt;/button&gt;
                    | &lt;button class='btn btn-primary btn-lg' data-toggle='tooltip' title='Edit'&gt;
                    |   &lt;i class='eos-icons md-24'&gt;create&lt;/i&gt;
                    | &lt;/button&gt;
