extends ../layouts/layout-main

block content
  .container.dashboard.js-newsController.js-changelogController
    .row
      .col-sm-8
        h1
          | EOS Design System
        p.subheadline
          | A design system made for #{config.brand} products and the Open Source community.
      .col-sm-4
        - if (locals.config.showChangelog) {
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg')
            .changelog-box-right
              h5
                | We’ve introduced new changes.
              p
                strong
                  | See the changelog for more information.
        - }
  article.getting-started.w-100
    .container.mt-5.text-center
      img.getting-started-img(src='/images/dashboard/getting-started-full.svg')
      .row
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-a')
          .text-center.w-75.mt-5
            | Implement SUSE interfaces following design specs. You own your code.
            a.mt-4.d-block(href='/installing-npm')
              | Implement manually
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-b')
          .text-center.w-75.mt-5
            | Use the NPM package to quickly theme-up your Bootstrap 4 based product.
            a.mt-4.d-block(href='/installing-npm')
              | Install using NPM
        .col-md.text-center.getting-started-item
          svg.d-sm-block.d-md-none
            use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-c')
          .text-center.w-75.mt-5
            | Use the NPM package to quickly theme-up your Bootstrap 4 based product.
            a.mt-4.d-block(href='/design-specs')
              | Download the design kit

  .container.atomic-classification
    //- Resources and guides
    article.margin-top-xxl
      section
        h2
          | Atomic design classification
        p
          | All elements, components, guides, and more are delivered following the atomic
          | design methodology. We have grouped them inside the next 4 cards for you to get a
          | better overview of how we are building EOS.
        .row.margin-top-xxl
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/atoms.svg')
              .col-lg-9
                h3.mb-0
                  | Atoms
                p
                  | The smallest building blocks of your project.
                  | Text styles, buttons, icons, input fields, checkboxes, etc.
                p
                  | Atoms: #[a(href='/buttons') Buttons], #[a(href='/colors') Colors],
                  | #[a(href='/icons') Icons], #[a(href='/patterns') Patterns],
                  | #[a(href='/typography') Typography], #[a(href='/writing') Writing guides]
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/molecules.svg')
              .col-lg-9
                h3.mb-0
                  | Molecules
                p
                  | More complex entities consisting of several atoms. Things like
                  | notification toasts, data values (label: value), input fields with buttons, etc.
                p
                  | Molecules: #[a(href='/alerts') Alerts]
        .row.margin-top-xxl
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/organisms.svg')
              .col-lg-9
                h3.mb-0
                  | Organisms
                p
                  | Truly functional parts of a page, made from groups of atoms and molecules.
                p
                  | Organisms: #[a(href='/layout/main-menu') Main menu],
                  | #[a(href='/layout/submenu') Submenu]
          .col-12.col-sm-12.col-md-6
            .row.margin-bottom-l
              .col-lg-3
                .figure-wrap.text-center
                  figure.m-0
                    img(src='/images/dashboard/templates.svg')
              .col-lg-9
                h3.mb-0
                  | Templates
                p
                  | Essentially, those are pages without real content.
                  | Text styles, buttons, icons, input fields, checkboxes, etc.
                p
                  | Templates: #[a(href='/layout') Main layout]
  .articles-gallery
    .container
      .row
        .col-sm-8
          h3
            | News and tutorials
        .col-sm-4.text-right
          .carousel-controller
            .ag-arrow.js-news-tutorials-before
              i.eos-icons.js-tooltip(data-toggle='tooltip', title='Previous')
                | navigate_before
            .ag-arrow.js-news-tutorials-next
              i.eos-icons.js-tooltip(data-toggle='tooltip', title='Next')
                | navigate_next
        .news-loading-wrap.js-news-loading-wrap
          i.eos-icons.eos-icon-loading.md-36
      .news-tutorials-carousel.carousel.js-news-tutorials-carousel.hide
        //- Starting carousel content
        include ../shared/news/video
        include ../shared/news/article

  include ../shared/modals/video-modal.pug
