/* Logo icons set
   ========================================================================== */

/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-logo-icons-btn-color: $eos-bc-gray-900;
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-logo-icons-margin-right: $eos-s;
$eos-logo-icons-section-margin: $eos-xxxl * 2;
