/* Patterns-spacing page
   ========================================================================== */
/* Variables: /assets/stylesheets/pages/patterns-spacing/patterns-spacing.variables.scss */

.patter-scale-visual-block {
  background: $eos-pattern-scale-visual-block-background;
  content: '';
  display: inline-flex;

  &-xs {
    height: $eos-pattern-scale-visual-block-xs;
    width: $eos-pattern-scale-visual-block-xs;
  }

  &-s {
    height: $eos-pattern-scale-visual-block-s;
    width: $eos-pattern-scale-visual-block-s;
  }

  &-m {
    height: $eos-pattern-scale-visual-block-m;
    width: $eos-pattern-scale-visual-block-m;
  }

  &-l {
    height: $eos-pattern-scale-visual-block-l;
    width: $eos-pattern-scale-visual-block-l;
  }

  &-xl {
    height: $eos-pattern-scale-visual-block-xl;
    width: $eos-pattern-scale-visual-block-xl;
  }

  &-xxl {
    height: $eos-pattern-scale-visual-block-xxl;
    width: $eos-pattern-scale-visual-block-xxl;
  }

  &-xxxl {
    height: $eos-pattern-scale-visual-block-xxxl;
    width: $eos-pattern-scale-visual-block-xxxl;
  }
}
