/* Header
   ========================================================================== */
/**
* Colors
*
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Titles: /assets/stylesheets/eos-base/variables/titles.scss
*/
$eos-menu-header-height: $eos-xxl;
$eos-menu-header-font-size: $eos-h5-font-size;
$eos-menu-header-text-color: $eos-bc-white;
$eos-menu-header-hr-color: $eos-bc-blue-400;
$eos-menu-header-margin-bottom: $eos-m;
$eos-menu-header-padding-left: $eos-l - 3;
$eos-menu-header-padding-right: $eos-m;
$eos-menu-header-icon-size: $eos-m + 2;
